html {
    font-size: 16px;
    //Para usar fontes em rem
}

body {
    font-family: $font-stack;
    font-weight: $font-weight-normal;
    text-rendering: optimizeLegibility;
    font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga" on;
    color: $gray;
    padding-top: 0;
    @include font-size(16px);
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-heading;
    font-weight: $font-weight-bold;
}

h1 {
    color: $primary-color;
    @include font-size(42px);
}

h2 {
    color: $secundary-color;
    @include font-size(32px);
}

h3 {
    color: $primary-color;
    @include font-size(24px);
}

h4 {
    color: $tertiary-color;
    @include font-size(18px);
}

h5 {
    color: $tertiary-color;
    @include font-size(13px);
}

%off {
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip: rect(0, 0, 0, 0);
    position: absolute;
}

.off {
    @extend %off;
}

.social-media-links {
    list-style: none;
    padding-left: 0;
    li {
        float: left; 
    }
    li a
        {
            display: inline-block;
            color: #fff;
            background: $primary-color;
            height: 32px;
            width: 32px;
            text-align: center;
            line-height: 32px;
            @include font-size(12px);
            @include border-radius(3px);
            @include transition(all .3s ease-in);
            &:hover {
                background-color: lighten($primary-color, 15%);
            }
        }
}

.social-media-links.m-right li {
    margin-right: 4px;
}

.social-media-links.m-left li {
    margin-left: 4px;
}

/*
 * Style tweaks
 * --------------------------------------------------
 */
//html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
         -o-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -85%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -85%; /* 6 columns */
    margin-left: 0;
  }

  .row-offcanvas-right.active {
    right: 85%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 85%; /* 6 columns */
    margin-left: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 85%; /* 6 columns */
  }
}