@media (max-width: 990px) {
	.navbar-brand {
		width: 220px;
		height: 67px;
		background-size: 220px 67px;
	}
}
    
@media (max-width: 767px) {

    html {
        font-size: 14px;
    }
    .navbar-brand {
    	width: 165px;
		height: 50px;
		background-size: 165px 50px;
        margin-left: 15px;
    }
}

// SMALL DESKTOP DISPLAYS
@media (max-width: 419px) {
    html {
        font-size: 12px;
    }
}

// MEDIUM DESKTOP DISPLAYS
@media (min-width: 768px) and (max-width: 991px) {
    
}

// LARGE DESKTOP DISPLAYS
@media (min-width: 1199px) {

}

